@{
    ViewData["Title"] = "Главная";
}

<div class="container">
    <h2 class="text-center" style="color: white;">⚔Выбери своего героя⚔</h2>
    <div id="carouselExampleCaptions" class="carousel slide mt-3" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 0"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="text-center" style="color: white;">
                    <h5>Вика</h5>
                    <p>Рыцарь на сером коне. Друг всех животных. Никогда не оглядывается на взрывы.</p>
                    <a class="btn btn-secondary col btn-lg text-center mb-4" href="skirmish/Вика" role="button">Выбрать</a>
                </div>
                <img src="imgs/Вика.png" class="rounded mx-auto d-block h-100" alt="Картинка пафосной Вики">
            </div>
            <div class="carousel-item">
                <div class="text-center" style="color: white;">
                    <h5>Ден</h5>
                    <p>С его мастерством сравнится лишь его тщеславие. Играет по своим правилам.</p>
                    <a class="btn btn-secondary col btn-lg text-center mb-4" href="skirmish/Ден" role="button">Выбрать</a>
                </div>
                <img src="imgs/Денчик.png" class="rounded mx-auto d-block h-100" alt="Картинка высокомерного Дена">
            </div>
            <div class="carousel-item">
                <div class="text-center" style="color: white;">
                    <h5>Вова</h5>
                    <p>Величайший капитан девяти морей. Выехал за твоей Черной Жемчужиной.</p>
                    <a class="btn btn-secondary col btn-lg text-center mb-4" href="skirmish/Вова" role="button">Выбрать</a>
                </div>
                <img src="imgs/Вова.png" class="rounded mx-auto d-block h-100" alt="Картинка пиратского Вовы">
            </div>
            <div class="carousel-item">
                <div class="text-center" style="color: white;">
                    <h5>Маша</h5>
                    <p>Хранитель подводного царства. Докажет в бою, что ты полное днище.</p>
                    <a class="btn btn-secondary col btn-lg text-center mb-4" href="skirmish/Маша" role="button">Выбрать</a>
                </div>
                <img src="imgs/Маша.png" class="rounded mx-auto d-block h-100" alt="Картинка Маши">
            </div>
            <div class="carousel-item">
                <div class="text-center" style="color: white;">
                    <h5>Света</h5>
                    <p>Драконий всадник из легенд. Дракон дальше (листать вправо).</p>
                    <a class="btn btn-secondary col btn-lg text-center mb-4" href="skirmish/Света" role="button">Выбрать</a>
                </div>
                <img src="imgs/Света.png" class="rounded mx-auto d-block h-100" alt="Картинка Светы">
            </div>
            <div class="carousel-item">
                <div class="text-center" style="color: white;">
                    <h5>Макс</h5>
                    <p>Его именем пугают детей.<br>&nbsp;</p>
                    <a class="btn btn-secondary col btn-lg text-center mb-4" href="skirmish/Макс" role="button">Выбрать</a>
                </div>
                <img src="imgs/Макс.png" class="rounded mx-auto d-block h-100" alt="Картинка Макса">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
