@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:white;">Новогодний бойцовский клуб</h1>
    <p style="color:white;">В бой за <a href="skirmish/Ден">Ден</a>.</p>
</div>
