@{
    ViewData["Title"] = "Главная";
}

@*<div class="text-center">
    <h1 class="display-4" style="color:white;">Новогодний бойцовский клуб</h1>
    <p style="color:white;">В бой за <a href="skirmish/Ден">Ден</a>.</p>
</div>*@


<div class="container text-center">
    <h1 style="color:white;">Новогодний бойцовский клуб</h1>
    <h2 style="color:white;">Выбери своего бойца!</h2>
    
    <div class="row mb-1">
        <input type="button" value="Вика" class="btn btn-secondary col btn-lg text-center w-100">
    </div>
    <div class="row mb-1">
        <input type="button" value="Маша" class="btn btn-secondary col btn-lg text-center w-100">
    </div>
    <div class="row mb-1">
        <input type="button" value="Света" class="btn btn-secondary col btn-lg text-center w-100">
    </div>
    <div class="row mb-1">
        <input type="button" value="Вова" class="btn btn-secondary col btn-lg text-center w-100">
    </div>
    <div class="row mb-1">
        <input type="button" value="Макс" class="btn btn-secondary col btn-lg text-center w-100">
    </div>
    <div class="row mb-1">
        <input type="button" value="Ден" class="btn btn-secondary col btn-lg text-center w-100">
    </div>
</div>